name: MiPrimerWorkflow

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:  
      -'*'

jobs:
  compilar:
    runs-on: ubuntu-latest
    steps:
      - name: Compilacion
        run: npm run build
