name: MiPrimerWorkflow

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:  
      -'*'

jobs:
  compilar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Instalar dependencias
        run: npm install

      - name: Compilar
        run: npm run build
        
  deploy:
    needs: compilar
    if: |
      github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    
    environment:
      name: DEPLOYMENT
    steps:
      - name: Disparar deploy (GET)
        run: |
          curl "${{ secrets.URL_DEPLOYMENT }}"
